.popup__button-save {
  display: block;
  width: 100%;
  margin: 48px 0 0 0;
  padding: 14px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media (max-width: 425px) {
  .popup__title {
    font-size: 14px;
    line-height: 17px;
  }
}
