.profile__info {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 925px) {
  .profile__info {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .profile__info {
    gap: 26px;
  }
}



